<!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Dashboard principal</h3>
                    </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item">Apps</li>
                            <li class="breadcrumb-item active">Dashboard principal</li>
                        </ol>
                    </div>
                    <div class="">
                        <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                    <!-- ============================================================== -->
                    <!-- Stats box -->
                    <!-- ============================================================== -->
                    <app-filtros></app-filtros>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="m-r-20 align-self-center"><img src="../assets/images/icon/staff.png" alt="Income" /></div>
                                        <div class="align-self-center">
                                            <h6 class="text-muted m-t-10 m-b-0">Ventas totales</h6>
                                            <h2 class="m-t-0">{{totalVentas}}</h2></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                        <div class="align-self-center">
                                            <ng-select
                                                [items]="anioFiltro$ | async"
                                                [multiple]="true"
                                                [closeOnSelect]="false"
                                                [searchable]="false"
                                                bindLabel="anio"
                                                placeholder="Seleccionar año"
                                                (change)="anioFiltro_onChange($event)"
                                                [(ngModel)]="anioFiltroSeleccionado">
                                            </ng-select>

                                            <h6 class="text-muted m-t-10 m-b-0">Total ventas</h6>
                                            <h2 class="m-t-0">$ {{aniosFiltros}}</h2>
                                        </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                <app-meses></app-meses>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">
                                    <app-meses></app-meses>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- Sales overview chart -->
                    <!-- ============================================================== -->
                    <div class="row">
                        
                        <div class="col-lg-6 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <app-grafica2></app-grafica2>
                                    <div id="sales-overview2" class="p-relative" style="height:50px;"></div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <app-grafica1></app-grafica1>
                                    <div id="sales-overview2" class="p-relative" style="height:50px;"></div>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- ============================================================== -->
                    <!-- Projects of the month -->
                    <!-- ============================================================== -->

                <app-barras></app-barras>
                